<body class="bg-gray-100 font-sans">
  <div class="min-h-screen">

          <!-- Cards -->
          <div class="row mb-4">
            <div class="col-md-4">
                <div class="card card-counter bg-primary text-white mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6 class="card-title" style='font-size:80%'>Total Autorite</h6>
                                <h2 class="mb-0" style='font-size:95%'>{{paginateAutorites.length}}</h2>
                            </div>
                            <i class="fas fa-user-graduate fa-3x opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-counter bg-success text-white mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6 class="card-title" style='font-size:80%'>Actifs</h6>
                                <h2 class="mb-0"style='font-size:95%'>{{autoritesActifs}}</h2>
                            </div>
                            <i class="fas fa-check-circle fa-3x opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-counter bg-warning text-white mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6 class="card-title" style='font-size:80%'>Inactifs</h6>
                                <h2 class="mb-0" style='font-size:95%'>{{autoritesNotActifs}}</h2>
                            </div>
                            <i class="fas fa-exclamation-circle fa-3x opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
      <div >

          <!-- Users Content -->
          <main class="p-6 fade-in">
              <!-- Search and Filter Bar -->
              <div class="bg-white p-4 rounded-lg shadow mb-6 flex justify-between items-center">
                  <div class="relative w-96">
                      <i class="fas fa-search absolute left-3 top-3 text-gray-400"></i>
                      <input type="text" placeholder="Rechercher un utilisateur..." class="pl-10 pr-4 py-2 w-full border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="searchTerm" (input)="loadAutorites()">
                  </div>
                  <div class="flex space-x-3"> 
                    <div class="d-flex align-items-center">
                        <label for="itemsPerPage" class="me-2 mb-0">Par ordre:</label>
                        <select id="itemsPerPage" class="form-select w-auto"  [(ngModel)]="sortOrder" (change)="loadAutorites()">
                            <option value="">Trier par ordre</option>
                            <option value="name_organization">Nom (A-Z)</option>
                            <option value="-name_organization">Nom (Z-A)</option>
                        </select>
                    </div>

                  <div>
                    <label for="pageSize" class="me-2">Items par page:</label>
                    <select id="pageSize" [value]="size" (change)="onPageSizeChange($event)" class="form-select d-inline-block w-auto">
                      <option *ngFor="let option of sizeOptions" [value]="option">{{ option }}</option>
                    </select>
                  </div>

                      <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded flex items-center">
                          <i class="fas fa-plus mr-2"></i>
                          Ajouter
                      </button>
                  </div>
              </div>

              <!-- Users Grid -->
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" >
                  <!-- User Card 1 -->
                  <div class="bg-white rounded-lg shadow user-card overflow-hidden" *ngFor="let autorite of paginateAutorites; let i = index">
                      <div class="bg-blue-500 h-2"></div>
                      <div class="p-4 flex items-center">
                          <img src="https://randomuser.me/api/portraits/women/1.jpg" alt="User" class="w-16 h-16 rounded-full border-2 border-white shadow">
                          <div class="ml-4">
                              <h3 class="font-semibold text-lg">{{ autorite.name_organization }}</h3>
                              <span class="text-gray-600 text-sm">{{ autorite.phone_number }}</span> | <span class="text-gray-600 text-sm">{{ autorite.email }}</span>

                              <p class="inline-block mt-1 px-2 py-1 text-xs font-semibold rounded-full bg-blue-100 text-blue-800">{{ autorite.role }}</p>
                          </div>
                      </div>
                      <div class="px-4 py-3 border-t flex justify-between">
                          <span class="text-sm text-gray-500">Dernière connexion: 2h</span>
                          <div class="flex space-x-2">
                            <button (click)="allerEdit(autorite.id)" class="text-blue-500 hover:text-blue-700">
                                <i class="fas fa-edit"></i>
                            </button>
                              <button class="d-flex" (click)="allerDetail(autorite.id)" class="text-green-500 hover:text-green-700">
                                <a><i class="bi bi-info-circle"></i></a>
                              </button>
                              <button (click)="onDeleteApprenant(autorite.id)" class="text-red-500 hover:text-red-700">
                                  <i class="fas fa-trash-alt"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                 
                  <!-- Add User Card -->
                  <div class="bg-white rounded-lg shadow border-2 border-dashed border-gray-300 hover:border-blue-500 transition-colors duration-300 flex items-center justify-center cursor-pointer">
                      <div class="p-6 text-center">
                          <div class="w-16 h-16 bg-blue-100 rounded-full flex items-center justify-center mx-auto mb-3">
                              <i class="fas fa-plus text-blue-500 text-xl"></i>
                          </div>
                          <h3 class="font-semibold text-lg text-gray-700">Ajouter une autorite</h3>
                          <p class="text-gray-500 text-sm mt-1">Cliquez pour créer un nouveau compte</p>
                      </div>
                  </div>
              </div>

              <!-- Pagination -->
              <div class="mt-8 flex justify-center">
                <div class="pagination d-flex justify-content-center align-items-center mt-3">
                  <button class="btn btn-outline-primary me-2" [disabled]="page === 1" (click)="prevPage()">Précédent</button>
                  <span>Page {{ page }} de {{ totalPages }}</span>
                  <button class="btn btn-outline-primary ms-2" [disabled]="page === totalPages" (click)="nextPage()">Suivant</button>
                </div>
              </div>
          </main>
      </div>
  </div>

 
</body>





