<form [formGroup]="FormPartenaire" class="form-container" >
 
    <div class="form-group">
        <label for="nom"><i class="fas fa-project-diagram"></i> Entrer le nom du partenaire</label>
        <input
            type="text"
            id="nom"
            class="form-control"
            formControlName="nom"
            placeholder="Entrez le nom du partenaire"
        />
        <span class="error-message" *ngIf="FormPartenaire.get('nom')?.touched && FormPartenaire.get('nom')?.invalid">
            <span *ngIf="FormPartenaire.get('nom')?.errors?.['required']">Ce champ est requis.</span>
            <span *ngIf="FormPartenaire.get('nom')?.errors?.['maxlength']">Le nom ne peut pas dépasser 255 caractères.</span>
        </span>
    </div>
  
          
            <div class="form-group">
              <label for="type"><i class="fas fa-list"></i> Type de soutien</label>
            <select id="type" class="form-control" formControlName="type">
                <option value="">Sélectionnez le type de soutien</option>
                <option value="Financier">Financier</option>
                <option value="Technique">Technique</option>
                <option value="Logistique">Logistique</option>
            </select>
          </div>
  
                
        <div class="form-group">
          <label for="contact"><i class="fas fa-project-diagram"></i> Entrer le contact</label>
          <input
              type="text"
              id="contact"
              class="form-control"
              formControlName="contact"
              placeholder="le contact"
          />
          <span class="error-message" *ngIf="FormPartenaire.get('contact')?.touched && FormPartenaire.get('contact')?.invalid">
          </span>
      </div>
      <div class="form-group">
        <button type="submit" (click)="createProjetPartenaire()" class="btn btn-primary" [disabled]=" FormPartenaire.invalid">Creer un partenaire</button>
    </div>
      </form>